@font-face {
  font-family: "Cabin-Medium";
  font-weight: 500;
  font-style: normal;
  src: local("Cabin-Medium"),
    url("../fonts/Cabin-Medium.woff2") format("font-woff2"),
    url("../fonts/Cabin-Medium.woff") format("font-woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.woff2") format("font-woff2"),
    url("../fonts/Roboto-Regular.woff") format("font-woff");
  font-display: swap;
}
